.child-grid .x-grid-item-selected {
    margin: 0 0 90px 0;
}

.child-grid .x-grid-item-selected + .x-grid-item-selected {
    margin: 0;
}

.child-grid .x-grid-cell {
    max-height: 18px!important;
    font-size: inherit!important;
}

.child-grid .x-grid-cell + .x-grid-cell .x-grid-cell-inner * {
    margin: 0!important;
    padding: 0!important;
    line-height: inherit!important;
    font-size: inherit!important;
    display: inline!important;
}