/* variables
$theme: #d17800

$bgColorFrom: #ffffff
$bgColorTo: #bbbbbb
$bgColorCompat: #d7d7d7
$borderColor: #959595

$blogColorCat1: green
$blogColorCat2: red
$blogColorCat3: blue
$blogColorCat4: #c6c600

/* mixins
@mixin border-container
  -moz-box-shadow: 0 0 15px 2px $borderColor
  -webkit-box-shadow: 0 0 15px 2px $borderColor
  box-shadow: 0 0 15px 2px $borderColor

/* start actual stylesheet
html
  background: $bgColorCompat
  background: -webkit-gradient(radial, center center, 0, center center, 460, from($bgColorFrom), to($bgColorTo))
  background: -webkit-radial-gradient(circle, $bgColorFrom, $bgColorTo)
  background: -moz-radial-gradient(circle, $bgColorFrom, $bgColorTo)
  background: -ms-radial-gradient(circle, $bgColorFrom, $bgColorTo)
  background-attachment: fixed

body
  font: normal 1em/1.6em Droid Serif, arial

s
  color: #999

p
  margin: 0 0 1em 0

a
  color: $theme

pre
  background: #EEFFCC
  padding: 5px
  margin: 0 0 1em 0

code
  display: inline

blockquote
  padding: 5px
  font-style: italic
  margin: 0 0 1em 0

fieldset
  border: 1px solid #dedede
  padding: 0 5px 5px 5px
  margin: 0 0 1em 0

fieldset legend
  color: $theme


h1
  font-size: 1.2em
  color: $theme
  margin: 0
  font-weight: normal

h2,
h3,
h4,
h5,
h6
  font-size: 1.2em 
  color: $theme
  margin: 0 
  font-weight: normal 

/* icon default size
.icon
  display: block
  width: 16px
  height: 16px

/* icon container
.icon-container
  display: block
  padding: 0
  margin: -5px 0 0 0
  float: right

  li
    display: inline
    a
      text-decoration: none

/* icon images
.icon-add 
  background: url(/images/icons/page_add.png) center center no-repeat 
  
.icon-edit 
  background: url(/images/icons/page_edit.png) center center no-repeat
  
.icon-delete 
  background: url(/images/icons/page_delete.png) center center no-repeat 

/* additional styling which may vary from pages
.icon-add-blog 
  float: right 
  
.icon-edit-blog 
  display: inline-block 
  
.icon-edit-page 
  display: inline-block 
  
.icon-delete-blog 
  display: inline-block 
  
.icon-delete-reply 
  display: inline-block 
  float: right 

/* clear
div.clear 
  clear: both 

/* cookies overlay
#cookies-overlay
  position: fixed
  width: 100%
  height: 100%
  background: black
  top: 0
  left: 0
  opacity: 0.8
  -ms-filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=80)'
  filter: alpha(opacity = 80)

/* cookie warning message box
#cookies
  top: 100px
  position: absolute
  background: white
  width: 400px
  padding: 10px 20px
  margin: 0 0 0 -220px
  left: 50%

nav 
  top: 10px
  background: white
  margin: 10px auto 0 auto
  width: 780px
  padding: 20px
  @include border-container

  ul
    padding: 0
    margin: 0

    li
      display: inline

      &.active a
        background: $theme
        color: white
        padding: 5px 10px

    a
      border-radius: 10px 0
      margin: 0 10px 0 0
      text-decoration: none
      font-size: 1.4em
      color: black
    
/* forms
form
  padding: 10px
  background: #ececec

  label
    display: block
    margin: 0 0 10px 0

  label span
    display: block
    padding: 10px 5px

  div *
    font-size: 1em!important

  input,
  select,
  textarea
    padding: 3px 3px

  input[type=submit]
    padding: 5px 10px

  textarea
    width: 75%
    height: 100px

  .datepicker
    width: 100px

  ul
    padding: 0 0 0 5px
    font-size: 0.8em
    font-style: italic
    color: red
    list-style: none

/* reply form container
div#reply 
  padding-top: 10px
  h6
    padding: 10px

/* reply form
div#reply form
  border-radius: 10px
  width: 480px
  background: #EFEFEF
  border: 1px solid #d3d3d3

  span
    float: left
    width: 60px
    padding: 3px 0 5px 2px
    color: #333

  label
    float: left

  input.subject
    display: none

  input[type=text]
    float: left

  textarea
    float: left
    width: 458px
    margin: 0 0 0.5em 0

  input[type=text],
  textarea
    background: white
    padding: 5px 10px
    border: 0
    border-radius: 10px
    border: 1px solid #d3d3d3

  .error
    background: url('/images/icons/exclamation.png') 4px 6px #fff no-repeat!important

  #submitbutton
    float: right
    background: $theme
    border-radius: 10px
    border: none
    width: 80px
    color: white

/* article replies
article.replies,
h5.replied
  padding: 10px
  margin: 0 0 0 0
  background: #EFEFEF
  color: #555
  border-top: 1px dotted #999999
  line-height: 1.3em
  font-size: 0.9em

  .replied
    color: $theme
    background: white
    font-size: 1.2em

  .even
    background: #fff

  span
    color: $theme
    font-weight: bold
    margin: 0 0 0.3em 0
    display: block

    i
      color: #cd5c5c

  time
    color: #999
    font-size: 0.8em

  p
    margin: 0
    white-space: pre
    white-space: pre-wrap
    word-wrap: break-word

  br
    display: none


/* page block styling
div#page 
  background: white
  margin: 10px auto 0 auto
  width: 780px
  padding: 20px
  @include border-container

/* search block
div#search 
  display: none
  background: #ececec
  margin: 10px auto 0 auto
  width: 780px
  padding: 10px 20px
  margin: 0 auto 10px auto

  form
    padding: 0
    background: none
  
    input
      width: 220px

/* index styling
div#index article p,
div#index article a,
a.goback
  font-size: 0.8em

div#index p.searched
  font-style: italic

  span
    color: $theme

div#index article 
  padding: 0 0 30px 0

  hgroup h1 a
    display: block
    font-size: 1em
    text-decoration: none
    height: 25px

    span.category
      display: block
      float: right
      line-height: 1.1em
      padding: 4px 6px
      font-size: 0.6em
      color: white
      background: #cccccc

    span.block
      margin: 0px 5px 0px 0
      display: block
      height: 50px
      width: 5px
      float: left

      &.snippet
        background: $blogColorCat1

      &.media
        background: $blogColorCat2

      &.social
        background: $blogColorCat3

      &.review
        background: $blogColorCat4

  h2
    height: 25px
    font-size: 1em

/* article styling
article 
  padding: 0 0 0 0
  clear: both

  &.hidden
    opacity: 0.6
    color: red

  hgroup
    padding: 0 0 10px 0

    h1
      font-size: 1.2em

    h2
      font-size: 0.9em
      color: #888

  footer
    margin: 0
    padding: 0 0 0 0
    font-size: 0.8em
    font-style: italic
    color: #999    
    background: none
    height: auto

    span.reviewer,
    span.date
      display: block
      margin: 1em 0 0 0
      border-top: 1px dotted #999
  
/* review
article div#review
  margin: 0

  footer span.rating,
  footer span.stars,
  footer span.reviewer
    display: block

  .summary
    font-weight: bold

  footer span.rating
    line-height: 1em
    padding: 10px
    border-left: 3px solid #999
    width: 180px

    span
      font-weight: bold
      font-size: 1.2em

      &.stars
        background: url(/images/stars.png) left center repeat-x

        &.star1
          width: 5px
        &.star2
          width: 10px
        &.star3
          width: 15px
        &.star4
          width: 20px
        &.star5
          width: 25px
        &.star6
          width: 30px
        &.star7
          width: 35px
        &.star8
          width: 40px
        &.star9
          width: 45px
        &.star10
          width: 50px

/* amazon
.amazon-item-lookup 
  float: left
  padding: 10px 20px 0 0

  p
    font-size: 0.6em
    text-align: center

/* the actual footer
footer 
  margin: 40px auto 0 auto
  background: #222
  width: 780px
  padding: 15px 20px 15px 20px

  ul
    margin: 0
    list-style: none

  table .login
    text-align: right

    a
      color: #444
      text-decoration: none

/* footer table bottom
footer table.bottom
  width: 100%

  td
    vertical-align: top
    white-space: nowrap

  td.col1
    width: 25%

  td.col2
    width: 50%

  td.col3
    width: 25%

  time
    color: #777

  strong
    color: $theme
    padding: 10px 20px 0 10px
    display: block

  ul
    padding: 0 20px
    font-size: 0.9em
    font-style: italic

    li,
    li a
      color: #999
      text-decoration: none

/* markitup editor
.markItUp 
  border-color: white

.markItUpContainer,
.markItUpEditor,
.markItUpPreviewFrame
  border-color: $theme

/* Responsive bit */
@media only screen and (max-width : 800px)
  html
    background: none

  .login
    display: none!important

  footer table.bottom td time
    display: none

  footer table.bottom td
    white-space: normal

  article img
    width: 100%

  #cookies
    margin: 0
    left: 0
    padding: 0
    width: 100%
    top: 0

  #cookies p,
  #cookies h1
    padding: 5px 10px

  div#reply form
    border-radius: 0
    width: 100%
    padding: 0
    border: 0
    background: none

    *
      float: none!important
      display: block

    input
      width: 50%

    textarea
      width: 80%

    label span
      display: none

  nav,
  div#page,
  div#search
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none
  
  nav,
  div#page,
  div#search,
  footer,
  footer td
    width: auto!important
    height: auto!important
  
  nav 
    padding: 5px 20px 10px 20px
    border-bottom: 3px solid black
  
  div#page 
    padding: 5px 20px
  
  div#search 
    padding: 5px 20px 5px 20px

  footer table.bottom td
    display: block
    width: auto

  div#index article hgroup *
    float: none!important
    height: auto!important
    border: none
  div#index article hgroup h1 a span
    display: none!important