/* theme colors */
$theme: #cc152a;
$themeDark: #6b0e1c;
$themeLight: #ff2142;
$fontColor: #2f353e;

/* boilerplate clearfix */
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* transition */
.transition-background-color {
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

/* honeypot */
input.email {
  position: absolute;
  left: -9000px;
}

/* style */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: normal 16px/24px 'Droid Serif', arial;
  letter-spacing: 0em;
}

nav,
nav.breadcrumbs > div.path,
div.search > form,
div.page,
div.footer > footer {
  padding: 0;
  margin: 0 auto;
  width: 50%;
}

h1 {
  color: $fontColor;
  font-size: 2em;
  line-height: 1.2em;

  a {
    color: $fontColor;
    text-decoration: none;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2em;
  color: $theme;
  margin: 0;
}

h5.replied {
  color: $fontColor;
  font-size: 1em;
  background: #F1F1F1;
  padding: 10px;
  margin: 0;
}

p {
  margin: 0 0 1em 0;
}

pre {
  background: #EEFFCC;
  padding: 5px;
}

a {
  color: $theme;
}

nav {
  @extend .clearfix;

  &.breadcrumbs {
    padding: 10px 0 0 0;
    width: auto;
    border: none;
  }

  ul {
    position: absolute;
    margin: 0 0 0 -125px;
    padding: 0;
    top: 75px;


    li {
      width: 100px;

      &.active a,
      a:hover {
        @extend .transition-background-color;
        background-color: $theme;
      }

      a {
        border-radius: 0 10px;
        float: right;
        display: inline-block;
        margin: 0 0 5px 0;
        color: #FFFFFF;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.2em;
        background-color: $themeDark;
        padding: 10px 15px;
      }
    }
  }
}

div.search {
  @extend .clearfix;
  background: #F1F1F1;
  padding: 10px 0;
  border-bottom: 1px dotted #4A4A4A;

  form {
    input {
      margin: 0 10px 0 0;
      border: 1px dotted #4A4A4A;
      padding: 2px;
      color: #4A4A4A;
    }
  }
}

div.page {
  margin-bottom: 40px;

  .searched {
    margin: 1em 0;

    span {
      color: $theme;
    }
  }

  article {
    @extend .clearfix;
    color: $fontColor;
    margin: 10px 0 20px 0;

    .header {
      margin: 1em 0;

      h1 {
        margin-bottom: 0
      }
    }

    footer {
      @extend .clearfix;
      font-size: 0.8em;

      div {
        float: right;
        background: #F1F1F1;
        padding: 10px;
      }

      span.comments img {
        margin: 0 2px 0 5px;
      }
    }

    article {
      @extend .clearfix;
      border: 1px solid #F1F1F1;
      margin: 5px 0;
      padding: 5px;
      font-size: 0.9em;

      &.no-replies {
        border: none;
      }

      h2 {
        color: $fontColor;
        font-size: 1em;
        font-weight: bold;
      }

      i {
        color: $theme;
      }

      p {
        margin: 0;
        font-style: italic;
      }
    }
  }

  .reply {
    padding: 20px 10px;

    h6 {
      margin: 0em;
      color: $fontColor;
    }

    form {
      margin: 10px 0;

      > ul {
        display: inline-block;
        padding: 2px 5px;
        list-style: none;
        border: 1px solid $themeLight;
        margin: 0 0 10px 0;
        *display: inline; /* ie7 hack */
        *zoom: 1; /* ie7 hack */

        li {
          display: inline;
          font-size: 0.9em;
          color: $theme;
        }
      }

      label,
      span {
        display: block;
      }

      input,
      textarea {
        background: #F1F1F1;
        border: 1px solid #000000;
        margin: 5px 0;
        padding: 5px;
      }

      input[type=text] {
        width: 30%;
      }

      textarea {
        width: 60%;
      }

      input[type=submit] {
        display: block;
        font-weight: bold;
      }
    }
  }
}

.cookies {
  position: fixed;
  top: 175px;
  width: 46%;
  left: 27%;
  background: #FFFFFF;
  border: 1px solid #e4e4e4;

  h1 {
    color: $theme;
  }

  h1,
  p {
    color: $fontColor;
    margin: 10px;
  }
}

.cookies-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #F1F1F1;
  opacity: 0.8;
}

.social-media {
  position: fixed;
  bottom: 0;
  margin: 0;
  right: 0;
  background: #F1F1F1;
  padding: 10px;
  height: 24px;
}

/* mobile only */
@media only screen and (max-width : 800px) {
  h1 {
    margin: 0.2em 0;
  }

  nav {
    display: block;
    width: 100%;
    padding: 0 0 5px 0;
    border-bottom: 1px dotted #4A4A4A;

    ul {
      position: relative;
      padding: 10px 5px 10px 10px;
      top: 0;
      margin: 0;
      width: auto;

      li {
        width: auto;

        a {
          margin: 0 5px 5px 0;
          float: left;
        }
      }
    }
  }

  nav.breadcrumbs>div.path,
  div.search > form,
  div.page,
  div.footer footer {
    width: auto;
    padding: 0 10px;
    display: block;
  }

  div.page {
    margin: 0;

    article {
      padding: 0 0 20px 0;

      footer div {
        span.date,
        span.comments {
          display: block;
        }
      }
    }
  }

  div.cookies {
    left: 0;
    top: 0;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #1A1A1A;
  }

  .social-media {
    display: none;
  }
}