/* font color */
$fontColor: #2f353e;

/* boilerplate clearfix */
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* transition */
.transition-background-color {
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

/* honeypot */
input.email {
  position: absolute;
  left: -9000px;
}

/* style */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: normal 13px/20px 'sans-serif', arial;
  letter-spacing: 0em;
}

div.container {
  @extend .clearfix;
  padding: 0;
  margin: 0 auto;
  width: 50%;
}

h1 {
  color: $fontColor;
  font-size: 1.5em;
  line-height: 1.2em;

  a {
    color: $fontColor;
    text-decoration: none;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1.1em;
  color: $fontColor;
  margin: 0;
}

h5.replied {
  color: $fontColor;
  font-size: 1em;
  padding: 10px 5px;
  margin: 0;
}

p {
  margin: 0 0 1em 0;
}

pre {
  background: #EEFFCC;
  padding: 5px;
}

a {
  color: $fontColor;
}

/* extend classes */
.border-radius {
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

.button {
  background-image: linear-gradient(#fcfcfc, #eee);
  background: -webkit-linear-gradient(#fcfcfc, #eee); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fcfcfc, #eee); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fcfcfc, #eee); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fcfcfc, #eee); /* Standard syntax */
  background-color: #eeeeee;
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  white-space: nowrap;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  text-decoration: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.button-hover {
  background-image: linear-gradient(#eee, #ddd);
  background: -webkit-linear-gradient(#eee, #ddd); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#eee, #ddd); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#eee, #ddd); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#eee, #ddd); /* Standard syntax */
  background-color: #dddddd;
  border-color: #ccc;
  white-space: nowrap;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  text-decoration: none;
  border-radius: 3px;
}

.block {
  background-color: #eeeeee;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  padding: 2px 10px;
}

/* navigation */
nav {
  float: left;

  &.breadcrumbs {
    float: right;
    margin: 1.2em 0;
    font-size: 0.8em;
  }

  ul {
    padding: 0;

    li {
      display: inline;

      &.active a,
      a:hover {
        @extend .button-hover;
      }

      a {
        @extend .button;
        display: inline-block;
        line-height: 24px;
      }
    }
  }
}

/* page styling */
div.page {
  margin-bottom: 40px;
  padding: 0 10px;

  article {
    @extend .clearfix;
    color: $fontColor;
    margin: 0 0 20px 0;

    .header {
      margin: 1em 0;

      h1 {
        margin-bottom: 0
      }
    }

    footer {
      @extend .clearfix;
      font-size: 0.8em;

      div {
        @extend .block;
        float: right;
      }

      span.comments img {
        margin: 0 2px 0 5px;
      }
    }

    article {
      @extend .clearfix;
      @extend .block;
      margin: 5px 0;
      padding: 5px;
      font-size: 0.9em;

      &.no-replies {
        border: none;
        background: none;
      }

      h2 {
        color: $fontColor;
        font-size: 1em;
        font-weight: bold;
      }

      i {
        color: $fontColor;
      }

      p {
        margin: 0;
        font-style: italic;
      }
    }
  }

  .reply {
    padding: 20px 10px;

    h6 {
      margin: 0em;
      color: $fontColor;
    }

    form {
      margin: 10px 0;

      > ul {
        @extend .border-radius;
        display: inline-block;
        padding: 2px 5px;
        list-style: none;
        margin: 0 0 10px 0;
        *display: inline; /* ie7 hack */
        *zoom: 1; /* ie7 hack */

        li {
          display: inline;
          font-size: 0.9em;
          color: $fontColor;
        }
      }

      label,
      span {
        display: block;
      }

      input,
      textarea {
        @extend .border-radius;
        background: #eeeeee;
        margin: 5px 0;
        padding: 5px;
      }

      input[type=text] {
        width: 30%;
      }

      textarea {
        width: 60%;
      }

      input[type=submit] {
        @extend .button;
        display: block;
        font-weight: bold;
        white-space: nowrap;
        text-shadow: 0 1px 0 rgba(255,255,255,0.9);
      }

      input[type=submit]:hover {
        @extend .button-hover;
      }
    }
  }
}

/* cookie message */
.cookies {
  @extend .border-radius;
  position: fixed;
  top: 175px;
  width: 46%;
  left: 27%;
  background: #fff;

  h1 {
    color: $fontColor;
  }

  h1,
  p {
    color: $fontColor;
    margin: 10px;
  }
}

.cookies-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #eeeeee;
  opacity: 0.8;
}

.social-media {
  position: fixed;
  bottom: 0;
  margin: 0;
  left: 0;
  padding: 10px;
  height: 24px;
}

/* mobile only */
@media only screen and (max-width : 800px) {

  nav.breadcrumbs {
    display: none;
  }

  div.container {
    width: auto;
    padding: 0 10px;
    display: block;
  }

  div.page {
    padding: 0;

    article {
      padding: 0 0 20px 0;

      footer div {
        span.date,
        span.comments {
          display: block;
        }
      }
    }
  }

  div.cookies {
    left: 0;
    top: 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d5d5d5;
  }

  .social-media {
    display: none;
  }
}