<?php

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'params' => array(
                    'host'     => 'localhost',
                    'port'     => '3306',
                    'user'     => 'username',
                    'password' => 'password',
                    'dbname'   => 'database',
                )
            )
        )
    ),
    'bcrypt' => array(
        'cost' => 14,
    ),
    'user' => array(
        'default_user' => array(
            'user'      => null, // username
            'password'  => null, // password
        )
    )
);